* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -9em;
  visibility: hidden;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  color: blue;
}

nav h1 {
  display: inline-block;
  margin: 0;
  padding: 1em;
  align-self: center;
}

nav ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
}

nav ul li {
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 0.25em;
  height: 100%;
}

.teaser, .features, .content {
  padding-left: 2em;
  padding-right: 2em;
}

.teaser {
  background: linear-gradient(10deg, cornflowerblue, #EEF);
  font-size: 1.2em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.teaser .text {
  flex: 1;
}

.teaser .logo {
  width: 10em;
  height: 10em;
}

.features {
  background-color: whitesmoke;
  padding-top: 1em;
  padding-bottom: 1em;
}

.features .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features .group:nth-of-type(even) {
  flex-wrap: wrap-reverse;
}

.features h3 {
  margin: 0;
  margin-bottom: 0.5em;
}

.features p img {
  vertical-align: bottom;
  height: 1em;
}

.features .group .text, .features .group .preview {
  margin: 0.5em;
}

.features .group .text {
  flex: 1;
  max-width: 50em;
}

.features .group .preview {
  border: 1px solid black;
  display: block;
  width: 30%;
  min-width: 20em;
  padding: 0.5em;
  background-color: white;
}

.features .preview pre {
  margin: 0;
}

.features .float-left {
  float: left;
  margin-right: 1em;
}

.features .float-right {
  float: right;
  margin-left: 1em;
}

.features hr {
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
}

.content p {
  margin-left: 1em;
}

code .kw {
  color: blue;
}

code .string {
  color: darkred;
}

code .comment {
  color: blue;
}